.login {
    height: 100vh;
    background-image: linear-gradient(#0000007e, #0000007e), url('/background_banner.jpg');
    padding: 20px 8%;
}

.login-logo {
    width: 200px;
}

.login-form {
    width: 100%;
    max-width: 450px;
    background-color: #000000c9;
    border-radius: 20px;
    padding: 60px;
    margin: auto;
}

.login-form h1 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 40px;
}

.login-form input {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    margin: 12px 0;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}

.login-form button {
    width: 100%;
    height: 50px;
    background-color: #ff000dc0;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.login-form button:active {
    transform: scale(0.9);
}

.form-help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.form-help input {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-switch {
    margin-top: 40px;
    color: #737373;
}

.form-switch span {
    margin-left: 6px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.login-spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-spinner img {
    width: 100px;
    height: 100px;
}

@media (max-width :500px) {
    .login {
        padding: 15px 5%;
    }

    .login-form {
        padding: 20px;
        margin-top: 30px;

    }
}